@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap");
:root {
  --fonte1: "Josefin Sans", Geneva, Tahoma, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fonte1);
  font-weight: bolder;
  overflow-y: hidden;
}
.background {
  background-image: url(imagens/rosa\ liso.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 45px;
  padding-left: 8%;
  padding-right: 8%;
  position: fixed;
  width: 100%;
  z-index: 99;
}
nav h2 {
  color: rgb(0, 0, 0);
  font-size: 35px;
  cursor: pointer;
  letter-spacing: 2px;
}
span {
  color: #f9004d;
}
nav ul li {
  display: inline-block;
  padding: 10px 25px;
  list-style-type: none;
}
nav ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}
nav ul li a:hover {
  color: #f9004d;
  transform: scale(1.2);
}
.btn {
  background-color: #f9004d;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
  transition: transform 0.4s;
}
.btn:hover {
  transform: scale(1.2);
}
.Main {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50);
  min-height: 100vh;
}
h4 {
  color: #000000;
  letter-spacing: 2px;
  font-size: 20px;
}
h1 {
  color: #020202;
  margin: 20px 0px 20px;
  font-size: 75px;
}
h3 {
  color: #000000;
  font-size: 25px;
  margin-bottom: 50px;
}
.Container-btn form {
  width: 380px;
  max-width: 100%;
  position: relative;
}
.Container-btn form input:first-child {
  display: inline-block;
  width: 100%;
  padding: 14px 130px 14px 15px;
  border-radius: 30px;
  outline: none;
}
.Container-btn form input:last-child {
  position: absolute;
  display: inline-block;
  outline: none;
  padding: 10px 30px;
  border: none;
  border-radius: 30px;
  background-color: #f9004d;
  color: #000000;
  box-shadow: 0px 0px 15px #858585;
  right: 6px;
  top: 6px;
  font-weight: bolder;
}
.Container-btn form input:last-child:hover {
  color: black;
  background-color: transparent;
  border: 2px solid #f9004d;
  cursor: pointer;
}
.background-color-sobre {
  background-image: url(imagens/rosa\ liso.jpg);
  background-size: cover;
  width: 100%;
  padding: 100px 0px;
}
.background-color-sobre img {
  width: 430px;
  height: auto;
  border-radius: 100px;
  box-shadow: 0px 0px 30px #f9004f70;
}

.text-sobre {
  width: 550px;
}

.Main-sobre {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1130px;
  margin: 0 auto;
  min-height: 100vh;
}
.text-sobre h2 {
  color: black;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.text-sobre h5 {
  color: black;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 25px;
  text-transform: capitalize;
}
.text-sobre p {
  color: #000000;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}
.button {
  background-color: #f9004fc5;
  color: rgb(0, 0, 0);
  text-transform: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 20px;
  border-radius: 30px;
  transition: 0.4s;
}
.button:hover {
  background-color: transparent;
  border: 2px solid #f9004d;
  cursor: pointer;
}
.Container-habilidades {
  background-image: url(imagens/rosa\ liso.jpg);
  background-size: cover;
  width: 100%;
  padding: 100px 0px;
  min-height: 100vh;
}

.title h2 {
  color: #000000;
  font-size: 75px;
  width: 1130px;
  margin: 30px auto;
  text-align: center;
}

.Caixa {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  flex-wrap: wrap;
}

.Card {
  background: #f9004d;
  height: 365px;
  width: 335px;
  border-radius: 20px;
  box-shadow: 0px 0px 30px #f7206491;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.Card i {
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0px;
  color: #f9004d;
}

h5 {
  color: #ffffff;
  font-size: 23px;
  font-weight: bolder;
  margin-bottom: 15px;
}

.Paragrafo-button {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-weight: bolder;
  line-height: 27px;
  margin-bottom: 25px;
  padding: 3px;
}

.Paragrafo-button button {
  color: white;
  background-color: #f9004f9f;
  margin-top: 25px;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.507);
}
.Paragrafo-button button:hover {
  background-color: #ca0543;
  cursor: pointer;
}

.contate-me {
  width: 100%;
  height: 290px;
  background-image: url(imagens/rosa\ liso.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.contate-me p {
  color: #000000;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px;
}
.contate-me button {
  padding: 5px;
}

footer {
  position: relative;
  width: 100%;
  background-image: url(imagens/rosa\ liso.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

footer h6 {
  font-size: 35px;
  color: #000000;
}

footer p {
  color: #000000;
  font-size: 15px;
  width: 500px;
  text-align: center;
  margin-top: 15px;
  letter-spacing: 1px;
  line-height: 23px;
}

.Redes-sociais {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Redes-sociais a {
  background-color: #f9004d;
  width: 45px;
  height: 45px;
  padding: 15px;
  border-radius: 50%;
  margin: 22px 10px;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.Redes-sociais a:hover {
  transform: scale(1.2);
  transition: 0.3s;
}

.end {
  position: absolute;
  color: #f9004d;
  bottom: 35px;
  font-size: 14px;
}
