@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap");
:root {
  --fonte1: Verdana, Geneva, Tahoma, sans-serif;
  --fonte2: "Passion One", cursive;
  --fonte3: "Sriracha", cursive;
}
* {
  margin: 0px;
  padding: 0px;
  font-size: 1em;
  margin: auto;
  max-width: 1280px;
}

html,
body {
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
  background-size: cover;
  background-position: bottom top;
  font-family: var(--fonte1);
}
header {
  background-image: linear-gradient(90deg, #f7ababa6, #f5c1bb, #f7c2b6);
  color: rgb(253, 244, 244);
  text-align: center;
  box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.342);
}

header > h1 {
  padding-top: 50px;
  font-variant: small-caps;
  font-family: var(--fonte2);
  font-size: 5vw;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.616);
}
header > p {
  padding-bottom: 50px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.459);
}
header a {
  color: white;
  text-decoration: none;
  font-weight: bolder;
}
header a:hover {
  text-decoration: underline;
}
section {
  padding-top: 10vh;
  padding-bottom: 10vh;
  line-height: 2em;
  padding-left: 30px;
  font-family: var(--fonte3);
  font-size: 2vw;
  box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.342);
}
section > p {
  padding-bottom: -5px;
  border-radius: 5px;
}
section.normal {
  background-color: white;
  color: black;
}
section.imagem {
  background-color: rgb(29, 29, 29);
  color: white;
  box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.664);
  background-size: cover;
  background-attachment: fixed;
  box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.342);
}
section.imagem > p {
  display: inline-block;
  padding: 5px;
  background-color: #fbc4ab4d;
  text-shadow: 1px 1px 0px black;
  background-size: cover;
}
section#img01 {
  background-image: url(../imagens/barbie.jpeg);
  background-position: right center;
}
section#img02 {
  background-image: url(../imagens/boiebrasa.jpeg);
  background-position: 30%;
}
footer {
  background-color: #fbc4ab;
  box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.342);
  color: rgba(0, 0, 0, 0.74);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 5vh;
  max-width: 1280px;
}
